:root {
    /* Variables for color schemes used across the application */
	--color-bg: #100D23; /* background color */
	--color-text-primary: #00FF9C; /* primary text color, used for input and prompt */
	--color-text-secondary: #c592ff; /* secondary text color, used for clock */
	--color-output: #c592ff; /* color for output text */
	--color-prompt: #00FF9C; /* color for prompt */
	--color-link: #dddddd; /* color for links */
	--color-link-border: #d0d0d0; /* border color for links */
}

body {
	position: absolute;
	width: 99%;
	height: 99%;
	font-size: 14pt;
	background-color: var(--color-bg);
}

a {
	color: var(--color-link);
	text-decoration: none;
	border-bottom: 1px solid var(--color-link-border);
}

/* Styles for preformatted text */
pre {
	margin: 0;
    outline: none;
	color: var(--color-prompt);
}

/* Styles for output text */
.output {
	color: var(--color-output);
}

.terminal {
	display: block;
	overflow-y: auto;
	overflow-x: auto;
	top: -2ex;
	background-color: var(--color-bg);
	color: var(--color-text-primary);
	width: 100%;
	min-height: 100%;
	max-height: 100%;
}

input {
	background: transparent;
  	border: none;
  	display: inline;
  	font-family: monospace;
  	white-space: nowrap;
	color: var(--color-text-primary);
	outline: none;
}

.terminal-container {
	width: 80%;
	margin: 0 auto; /* shorthand for centering the container */
	height: 80%;
	max-height: 80%;
	background-color: var(--color-bg);
	opacity: .9 ;
	border-radius: 1px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

/* Ensuring that span inside .input does not overflow its parent */
.input > span {
	max-width: 100%;
}
